<input [(ngModel)]="searchTerm" (input)="onSearchChange()" placeholder="Search courses...">
<div>
  <input [(ngModel)]="newCourseName" placeholder="New course name">
  <button (click)="addNewCourse()">Add Course</button>
</div>
<p *ngIf="isLoading$ | async">Loading courses...</p>
<p *ngIf="errorMessage$ | async as err" style="color: red;">{{ err }}</p>
<div *ngIf="!(isLoading$ | async) && !(errorMessage$ | async)">
  <div *ngIf="(filteredCourses$ | async)?.length; else noCourses">
    <div *ngFor="let course of (filteredCourses$ | async); let i = index; trackBy: trackByCourseId">
      <app-course-card [course]="course"></app-course-card>
      <button (click)="deleteCourse(course.id)">Delete This Course</button>
    </div>
  </div>
  <ng-template #noCourses>
    <p>No courses available.</p>
  </ng-template>
</div>